/* noinspection CssUnknownAtRule */
@import "tailwindcss";

@theme {
    /* Ваші існуючі кольори */
    --color-lite-green: #e6f4ea;

    /* ДОДАНО: Створюємо змінну для нашої анімації */
    --animate-shimmer: shimmer 1.5s infinite;

    /* ДОДАНО: Описуємо саму логіку руху анімації (keyframes) */
    @keyframes shimmer {
        100% { transform: translateX(100%); }
    }
}


/* Анімація появи модалки (Scale) */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Анімація блиску на кнопці "Зберегти" */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Стилі для порад */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* стилі для кухні */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Вимикаємо стандартне браузерне око для полів пароля */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Додатково для деяких версій WebKit (Chrome/Safari) */
input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}